@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import "tailwindcss";
body {
  font-family: "Open Sans", sans-serif;
  /* color: #23C58B;
  color: #1A1A1A;
  color: #B9F5D0;
  color: #F3F4F6; */
  color: #dec783;
  color: #f5f0e6;
  color: #e8d7a6;
  color: #5a4a2e;
  color: #0d0d0d;
  width: 100%;
  height: 100%;
}
@theme {
  --color-primary1: #dec783;
  --color-primary2: #0d0d0d;
  --color-primary3: #f5f0e6;
  --color-primary4: #e8d7a6;
  --color-primary5: #5a4a2e;
}

.menu-item {
  position: relative;
  padding-bottom: 5px;
  transition: color 0.8s ease;
}

.menu-item::after {
  content: "";
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 0;
  background-color: #dec783;
  transition: width 0.3s ease-out;
}

.menu-item:hover::after {
  width: 100%;
}

.menu-item:hover {
  color: #dec783;
}
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: #dec783;
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background: transparent;
}
.btn-slide {
  background: linear-gradient(
    to right,
    var(--color-primary1) 50%,
    var(--color-primary2) 50%
  );
  background-size: 200% 100%;
  background-position: left bottom;
  transition: background-position 0.4s ease-out, color 0.3s ease-out;
}

.btn-slide:hover {
  color: var(--color-primary3);
  background-position: right bottom;
}
.btn-slide2 {
  background: linear-gradient(
    to right,
    var(--color-primary2) 50%,
    var(--color-primary5) 50%
  );
  background-size: 200% 100%;
  background-position: left bottom;
  transition: background-position 0.4s ease-out, color 0.3s ease-out;
}

.btn-slide2:hover {
  color: var(--color-primary3);
  background-position: right bottom;
}
/* text-3xl md:text-5xl */

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar on Firefox */
.scrollbar-hide {
  scrollbar-width: none;
}
.product-title {
  display: -webkit-box;
  -webkit-line-clamp: 1;      /* number of lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
}
input[type="range"] {
  /* Change the accent color to green */
  accent-color: var(--color-primary5); 
}
select {
  /* This targets the <select> element itself */
  accent-color: #ff6347; /* Example: Tomato red */
}